# version: '3.9'

services:
  nextjs-app:
    build:
      context: .
      args:
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}
        NEXT_PUBLIC_API_BASE: ${NEXT_PUBLIC_API_BASE}
    container_name: olsc_panel
    ports:
      - "3000:3000"
    env_file:
      - .env   
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
      - NEXT_PUBLIC_API_BASE=${NEXT_PUBLIC_API_BASE}
    networks:
      - my_network
networks:
  my_network:
    external: true

